<p id="notice"><%= notice %></p>

<h1>Enterados</h1>

<table>
  <thead>
    <tr>
      <th>Enterado</th>
      <th>Post</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enterados.each do |enterado| %>
      <tr>
        <td><%= enterado.enterado %></td>
        <td><%= enterado.post_id %></td>
        <td><%= enterado.user_id %></td>
        <td><%= link_to 'Show', enterado %></td>
        <td><%= link_to 'Edit', edit_enterado_path(enterado) %></td>
        <td><%= link_to 'Destroy', enterado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enterado', new_enterado_path %>
