<%= form_for(driver) do |f| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :plataforma%>
    <%= f.text_field :plataforma%>
  </div>
  <div class="field">
   <%= f.label I18n.t('form_foto_dg') %><br>
    <%= f.hidden_field :photo %>
    <%= f.file_field :photo,:class => 'form-control ' %>
    <%= f.hidden_field :remote_photo_url %>  
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
